In [2]:
a=5
if a == 5:
    print("print five")
elif a == 1:
    print("one")    
else:
    print("not 5")

print five

In [5]:
#based on the user input print the corresponding day of the week if 1->sunday, if 2->monday..else



userinput = int(input("enter a number 1 for sunday,2 for monday,etc:"))
if userinput == 1:
    print("Sunday")
elif userinput == 2:
    print("Monday")   
elif userinput == 3:
    print("Tuesday") 
elif userinput == 4:
    print("Wednesday")
elif userinput == 5:
    print("Thursday") 
elif userinput == 6:
    print("Friday") 
elif userinput == 7:
    print("sunday")  
else:
    print("not a day of the week")

Wednesday

In [7]:
#Strings


msg= "this is a message"

In [8]:
type(msg) #this is a commentt

str

In [9]:
msg[5] # to access an individual character at a position

'i'

In [11]:
len(msg)
len("selina lana")

11

In [12]:
print(len(msg))
print(len('selina lana'))

17
11

In [13]:
for i in msg:
    print(i)

t
h
i
s

i
s

a

m
e
s
s
a
g
e

In [14]:
msg.upper()

'THIS IS A MESSAGE'

In [15]:
msg.lower()

'this is a message'

In [16]:
msg

'this is a message'

In [17]:
print(msg.upper())
print(msg.lower())
print(msg.swapcase())

THIS IS A MESSAGE
this is a message
THIS IS A MESSAGE

In [ ]:
strip()split()format()

In [19]:
name = " abc "
print(type(name))

<class 'str'>

In [20]:
print(len(name))
print(len(name.strip()))

5
3

In [26]:
numbers = "2,3,5,7,2,8"
print(numbers.split(','))

['2', '3', '5', '7', '2', '8']

In [27]:
numbers = "2,3,5,7,2,8"
nos = numbers.split(',')
sum = 0
for item in nos:
    sum =sum+int(item)
    print(sum)

2
5
10
17
19
27

In [28]:
numbers = "2,3,5,7,2,8"
nos = numbers.split(',')
print(nos)
for item in nos:
    temp = int(item)
    print(item,type,item,temp,type,temp)

['2', '3', '5', '7', '2', '8']
2 <class 'type'> 2 2 <class 'type'> 2
3 <class 'type'> 3 3 <class 'type'> 3
5 <class 'type'> 5 5 <class 'type'> 5
7 <class 'type'> 7 7 <class 'type'> 7
2 <class 'type'> 2 2 <class 'type'> 2
8 <class 'type'> 8 8 <class 'type'> 8

In [30]:
numbers = "2,3,5,7,2,8"
nos = numbers.split(',')
print(nos)
sum=0
for item in nos:
    temp = int(item)
    sum = sum + temp
    print(item,type,item,temp,type,temp)
    print(sum)

['2', '3', '5', '7', '2', '8']
2 <class 'type'> 2 2 <class 'type'> 2
2
3 <class 'type'> 3 3 <class 'type'> 3
5
5 <class 'type'> 5 5 <class 'type'> 5
10
7 <class 'type'> 7 7 <class 'type'> 7
17
2 <class 'type'> 2 2 <class 'type'> 2
19
8 <class 'type'> 8 8 <class 'type'> 8
27

In [33]:
name = input("Enter user name")
password = input("Enter the password")

print("your user name:{} and password entered is:({}".format(name,password))

your user name:lana and password entered is:(christuni

In [37]:
for i in range(10,20+1,2):
    print (i)

10
12
14
16
18
20

In [42]:
#find the sum of n multiples of 2, where n is user input

n=int(input("enter the value of n"))
sum=0
for i in range(1,n+1):
    multiple =2 * i
    sum = multiple
    print(f"the sum of n multiples of 2 is:{multiple}")

the sum of n multiples of 2 is:2
the sum of n multiples of 2 is:4
the sum of n multiples of 2 is:6
the sum of n multiples of 2 is:8

In [43]:
#list

listex = ["one","two,","three","four"]
print(listex)

['one', 'two,', 'three', 'four']

In [44]:
print(listex[3])

four

In [45]:
if "three" in listex:
    print("Success")

Success

In [46]:
if "Three" in listex:
    print("Success")



    #no output because it is case sensitive

In [48]:

listex.append("five")
print(listex)

['one', 'two,', 'three', 'four', 'five']

In [49]:
listex.pop()


#pop removes the last function from the end
#in pop we specify the index

'five'

In [50]:
listex

['one', 'two,', 'three', 'four']

In [52]:
listex.remove("one")
listex

#in remove we specify the item

['two,', 'three', 'four']

In [ ]:
sort() | reverse()

#sort will sort the list and reverse will reverse the list

Functions

In [63]:
def fname(n):
    print("I am your first function..",n)
    retVal = "Success"
    return retVal, True

In [64]:
name = "Lana"
status, flag = fname(name)
print(status, flag)

I am your first function.. Lana
Success True

In [72]:
#define a function that takes in a list of numbers and return the sum of numbers without any predefined functions


def sumlist(lst):
    sum = 0
    for i in lst:
        sum =sum+i
    return sum
a = sumlist([1,3,5,7,9])
print(a)

25

In [81]:
#define a function that takes in a list of numbers and return the sum of numbers without any predefined functions

lst = [10,30,50,60,70,80,90]
sum = 0
for  i in lst:
    sum = sum+i  
print(sum)

390

In [78]:
#define a function that takes in a list of numbers and return the sum of numbers without any predefined functions

lst = [10,20,30,40,50,60,70]
for i in lst:
    print(i)

10
20
30
40
50
60
70

sum += item is same as sum=sum+item (it is just a short hand notation)

In [88]:
def sumlistfn(lst):
    sum = 0
    #to sum the numbers in the list
    for item in lst:
        sum = sum + int(item)
    return sum
userinput = input("enter a list of numbers separated by commas")
array = userinput.strip().split(',')
sum = sumlistfn(array)
print("Sum is:",sum)

Sum is: 20

Count the number of odd and even numbers in the list and print the odd numbers count and even numbers count along with the numbers
You will have a function that will take a list of numbers,then returns the count of add numbers and even numbers and the new list of odd numbers and even numbers

In [98]:
def odd_even(numbers):
    odd = []
    even = []
    for num in numbers:
        if int(num) % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    return odd,even
numbers = input("enter a list of numbers separated by commas").split(",")
odd,even = odd_even(numbers)
print("count of odd number is",len(odd))
print("count of even number is",len(even))

count of odd number is 2
count of even number is 1